.button {
  all: unset;
  align-items: center;
  border-radius: 20px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 12px;
  justify-content: center;
  padding: 0px 50px;
  position: relative;
  transition: all 0.3s ease;
}

.button .text-wrapper-4 {
  color: #ffffff;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button .rocket-launch {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.button.primary-filled {
  background-color: var(--call-to-action);
  height: 72px;
}

.button.tertiary-filled {
  background-color: var(--call-to-action);
  height: 46px;
}

.button.tertiary-outlined {
  border: 2px solid;
  border-color: var(--call-to-action);
  height: 46px;
}

.button.secondary-outlined {
  border: 2px solid;
  border-color: var(--call-to-action);
  height: 60px;
}

.button.primary-outlined {
  border: 2px solid;
  border-color: var(--call-to-action);
  height: 72px;
}

.button.secondary-filled {
  background-color: var(--call-to-action);
  height: 60px;
}

.button.primary-filled .text-wrapper-4 {
  font-family: var(--h5-work-sans-font-family);
  font-size: var(--h5-work-sans-font-size);
  font-style: var(--h5-work-sans-font-style);
  font-weight: var(--h5-work-sans-font-weight);
  letter-spacing: var(--h5-work-sans-letter-spacing);
  line-height: var(--h5-work-sans-line-height);
}

.button.tertiary-filled .text-wrapper-4 {
  font-family: "Work Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22.4px;
}

.button.tertiary-outlined .text-wrapper-4 {
  font-family: "Work Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22.4px;
}

.button.secondary-outlined .text-wrapper-4 {
  font-family: "Work Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22.4px;
}

.button.primary-outlined .text-wrapper-4 {
  font-family: var(--h5-work-sans-font-family);
  font-size: var(--h5-work-sans-font-size);
  font-style: var(--h5-work-sans-font-style);
  font-weight: var(--h5-work-sans-font-weight);
  letter-spacing: var(--h5-work-sans-letter-spacing);
  line-height: var(--h5-work-sans-line-height);
}

.button.secondary-filled .text-wrapper-4 {
  font-family: "Work Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22.4px;
}
