.avatar-16 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-103@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 120px;
  width: 120px;
}
