.rankings-mobile {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.rankings-mobile .instance-node-2 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.rankings-mobile .instance-node-3 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.rankings-mobile .class-19 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  padding: 40px 0px !important;
  width: 100% !important;
}

.rankings-mobile .asset-12 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-73@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-13 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-14 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-77@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-15 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-66@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-16 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-71@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-17 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-67@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-18 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-68@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-19 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-69@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-20 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-70@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-21 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-72@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-22 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-1@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-23 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-74@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-24 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-75@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-25 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-76@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-26 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-78@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-27 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-79@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-28 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-80@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.rankings-mobile .asset-29 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-5@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .asset-30 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-32@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .asset-31 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-33@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .asset-32 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-34@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .asset-33 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-35@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .asset-34 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-36@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .asset-35 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-37@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .asset-36 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-38@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .asset-37 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-18@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .asset-38 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-39@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .asset-39 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-40@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .asset-40 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-41@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .asset-41 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-42@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .asset-42 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-43@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .asset-43 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-44@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .asset-44 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-45@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .asset-45 {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder-46@2x.png) !important;
  height: 60px !important;
  position: relative !important;
  width: 60px !important;
}

.rankings-mobile .class-20 {
  align-items: center !important;
  align-self: stretch !important;
  border-bottom-style: none !important;
  border-color: var(--background) !important;
  border-left-style: none !important;
  border-right-style: none !important;
  border-top-style: solid !important;
  border-top-width: 2px !important;
  flex: 0 0 auto !important;
  gap: 30px !important;
  width: 100% !important;
}

.rankings-mobile .class-21 {
  align-self: unset !important;
  margin-left: -79.71px !important;
  margin-right: -79.71px !important;
  width: 1049.41px !important;
}

.rankings-mobile .class-22 {
  align-self: unset !important;
  display: inline-flex !important;
  margin-left: -48.71px !important;
  margin-right: -48.71px !important;
  width: unset !important;
}

.rankings-mobile .twitter-logo {
  height: 32px !important;
  position: relative !important;
  width: 32px !important;
}
