.property-medium-wrapper {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  position: relative;
}

.property-medium-wrapper .asset {
  background-image: url(https://cdn.animaapp.com/projects/62975db08ae6b4ad16b0e408/releases/64fefeced977b32f06dd2869/img/avatar-placeholder@2x.png) !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}
